<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Чек-листы</h1>
    <h1 class="h3 mb-0 text-gray-800"></h1>
    <% if current_user.roles.create_check_list? %>
        <a href="<%= new_checklist_path %>" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Создание чек-листа</a>
    <% end %>
</div>

<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <% @checklists.each do |checklist|%>
        <div class="col-12 mb-3">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 font-weight-bold text-primary text-uppercase mb-1">
                                <a href="<%= checklist_path(id: checklist.id) %>"><%= checklist.head %>
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>